name: Update Repos CI

on:
  push:
  pull_request:

jobs:
  ci-clearpath-common:
    name: test-on-clearpath-common
    runs-on: ubuntu-latest
    steps:
      - name: Check out this repository
        uses: actions/checkout@v3
      - name: Use this actions
        id: repos-dep-update
        uses: ./
        with:
          branch: jazzy
          input: clearpath_common.repos
          output: clearpath_common_updated.repos
      - name: Result
        run: |
          cat clearpath_common_updated.repos
  ci-clearpath-common-container:
    name: test-on-clearpath-common-container
    runs-on: ubuntu-latest
    container:
      image: ubuntu:noble
    steps:
      - name: Install or Update python3
        run: apt-get update && apt-get install -y python3 python3-pip jq
      - name: Check out this repository
        uses: actions/checkout@v3
      - name: Use this actions
        id: repos-dep-update
        uses: ./
        with:
          branch: jazzy
          input: clearpath_common.repos
          output: clearpath_common_updated.repos
      - name: Result
        run: |
          cat clearpath_common_updated.repos
  ci-clearpath-common-negative:
    name: test-on-clearpath-common-negative
    runs-on: ubuntu-latest
    steps:
      - name: Check out this repository
        uses: actions/checkout@v3
      - name: Use this actions
        id: repos-dep-update
        uses: ./
        with:
          branch: this-branch-does-not-exist
          input: clearpath_common.repos
          output: clearpath_common_fail.repos
      - name: Result
        run: |
          cat clearpath_common_fail.repos

